.img-fluid {
    height: 150px;
    width: 100%;
    border-radius: 5px;
}

.card {
    border: 0px;
    border-radius: 5px;
}

.img-fluid:hover {
    cursor: pointer;
}

.image {
    padding-left: 0;
}