.footer {
    height: 50px;
    text-align: center;
    padding-top: .5em;
}

.download {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.25em;
}

.download:hover {
    color: #5369DB;
}